@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider

<div style="position: fixed; top: 20px; right: 20px; z-index: 9999;">
    <Toasts class="p-3"
            AutoHide="true"
            Delay="4000"
            Placement="ToastsPlacement.TopRight"
            ShowCloseButton="true" />
</div>

<nav class="navbar navbar-expand-lg py-3 shadow-sm" style="background: #BD1717;">
    <div class="container-fluid">
        <div class="navbar-collapse show d-flex">

            <div class="ms-auto d-flex align-items-center gap-3">

                @if (isAuthenticated)
                {
                    <a href="/Account/Manage"
                       class="btn btn-outline-danger d-flex align-items-center gap-2" style="border-color: #BD1717; color:white;">
                        <i class="fa-solid fa-user"></i> @userName
                    </a>

                    <a href="/DoLogout"
                       class="btn btn-danger align-items-center gap-2" style="background:#BD1717; border-color:white;">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Salir
                    </a>
                }
                else
                {
                    <a href="/Account/Login" class="btn btn-danger" style="background:#BD1717; border-color:#BD1717; color:white;">
                        Iniciar sesión
                    </a>
                }

            </div>

        </div>

    </div>
</nav>


<div class="container py-4">
    @Body
</div>

@code {
    private bool isAuthenticated;
    private string? userName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity?.IsAuthenticated ?? false;
        userName = isAuthenticated ? user.Identity?.Name : "";
    }
}
