@page "/Account/Login"
@layout EmptyLayout

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using ProyectoFinal_AP1_AdonisMercado.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Iniciar sesión</PageTitle>

<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%; border-radius:15px;">

        <div class="text-center mb-4">
            <img src="images/auto-franklin-logo-removebg-preview.png"
                 alt="Logo"
                 class="img-fluid"
                 style="max-height:180px;" />
            <h3 class="fw-bold text-dark mt-3">Iniciar sesión</h3>
        </div>

        <StatusMessage Message="@errorMessage" />

        <EditForm EditContext="editContext" OnSubmit="LoginUser" FormName="LoginUser">

            <DataAnnotationsValidator />

            <div class="mb-3">
                <label class="form-label fw-semibold">Correo electrónico</label>
                <InputText @bind-Value="Input.Email"
                           class="form-control"
                           placeholder="ejemplo@gmail.com"
                           autocomplete="username" />
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold">Contraseña</label>
                <InputText @bind-Value="Input.Password"
                           type="password"
                           class="form-control"
                           placeholder="••••••••" />
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>

            <div class="form-check mb-3">
                <InputCheckbox @bind-Value="Input.RememberMe" class="form-check-input" id="rememberCheck" />
                <label class="form-check-label" for="rememberCheck">
                    Recordarme
                </label>
            </div>

            <button type="submit" class="btn btn-danger w-100" style="background: #BD1717; color:white;">
                Iniciar sesión
            </button>

        </EditForm>

        <hr />

        <div class="text-center mt-3">
            <p>
                <a href="/Account/ForgotPassword" class="fw-semibold text-danger">¿Olvidaste tu contraseña?</a>
            </p>
            <p>
                <a href="/Account/Register" class="fw-semibold text-danger">¿No tienes una cuenta? Registrate</a>
            </p>
        </div>


    </div>

</div>

@code {
    private string? errorMessage;
    private EditContext editContext = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();
        editContext = new EditContext(Input);

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        if (!string.IsNullOrEmpty(Input.Passkey?.Error))
        {
            errorMessage = $"Error: {Input.Passkey.Error}";
            return;
        }

        SignInResult result;

        if (!string.IsNullOrEmpty(Input.Passkey?.CredentialJson))
        {
            result = await SignInManager.PasskeySignInAsync(Input.Passkey.CredentialJson);
        }
        else
        {
            if (!editContext.Validate())
                return;

            result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe,
                lockoutOnFailure: false);
        }

        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");

            var user = await UserManager.FindByEmailAsync(Input.Email);
            var roles = await UserManager.GetRolesAsync(user);

            if (roles.Contains("Admin"))
            {
                NavigationManager.NavigateTo("/admin", forceLoad: true);
                return;
            }

            NavigationManager.NavigateTo("/", forceLoad: true);
            return;
        }

        if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo("Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Intento de inicio de sesión inválido.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        public bool RememberMe { get; set; }

        public PasskeyInputModel? Passkey { get; set; }
    }
}
