@inherits LayoutComponentBase
@layout ProyectoFinal_AP1_AdonisMercado.Components.Layout.MainLayout

<div class="ms-5">
    <h1>Configuraci&oacute;n</h1>
    <h2>Actualiza la configuraci&oacute;n de tu cuenta</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3 mt-4">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
