@inherits LayoutComponentBase
@layout ProyectoFinal_AP1_AdonisMercado.Components.Layout.MainLayout

<h1>Configuraci&oacute;n</h1>

<div>
    <h2>Actualiza la configuraci&oacute;n de tu cuenta</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
